<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bugbattle.io.bugbattle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".view.OnBoarding"  android:theme="@style/AppTheme.TranslucentBG"></activity>
        <activity
            android:name=".view.ImageEditor"
            android:theme="@style/AppTheme.TranslucentBG" />
        <activity
            android:name=".view.Feedback"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/imageview_title"
            android:theme="@style/AppTheme.TranslucentBG" />
    </application>

</manifest>