<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bugbattle.io.bugbattle">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".ImageEditor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Feedback"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_feedback"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>